// 色
$mainBlue: #3CCACE;
$backGroundGray: #f8f8f8;
$borderGray: #ccc;

// フォント
body{
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif; 
}

//フォントの大きさ
$fontMainSize: 14px;