// カラー
$mainWhiteColor: #fff;
$mainBlackColor: #000;
$mainBlueColor: #3CCACE;
$mainGrayColor: #f8f8f8;
$mainRedcolor: red;
// フォント
$baseFont: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;