.header {
  padding: 0 190px;
  height: 105px;
  &__upside {
    @include displayFlex();
    padding: 15px 10px 0 20px;
    .logo {
      margin-right: 20px;
    }
    .search {
      @include displayFlex();
      width: 870px;
      margin-top: 3px;
      position: relative;
      &__input {
        width: 95%;
        height: 75%;
      }
      &__submit {
        background-color: $mainBlue;
        width: 36px;
        height: 35px;
        border: none;
      }
      &__image {
        position: absolute;
        right: 10px;
        top: 7px;
      }
    }
  }
  &__downside {
    @include displayFlex();
    justify-content: space-between;
    font-size: 13px;
    line-height: 30px;
    padding-top: 5px;
    .left {
      @include displayFlex();
      padding-left: 20px;
      &__category {
        position: relative;
        &--text-decoration_none {
          @include blackLink();
          @include hoverOrange();
        }
      }
      &__brand {
        padding-left: 35px;
        &--text-decoration_none {
          @include blackLink();
          @include hoverOrange();
        }
      }
    }
    .right {
      @include displayFlex();
      &__login {
        margin-right: 20px;
        &--text-decoration_none {
          @include blackLink();
        }
      }
      &__signup {
        margin-right: 18px;
        &--text-decoration_none {
          @include blackLink();
        }
      }
      &__mypage {
        margin-right: 18px;
        &--text-decoration_none {
          @include blackLink();
        }
      }
    }
  }
}