.notification {
  .notice {
    color: $mainBlue;
    text-align: center;
    @include lightGrayUnderLine;
  }

  .alert {
    color: red;
    text-align: center;
    @include lightGrayUnderLine;
  }
}