.mypage-side-bar{
  background-color: white;
  float: left;
  margin-right: 40px;
  .nav--list{
    width: 280px;  
    font-size: $fontMainSize;
    &__mypage{
      background-color: $mainBlue;
      color: white;
      #list-white{
        color: white;
      }
    }
    li{
      border-top: 3px solid $backGroundGray;
      position: relative;
      a{
        display: block;
        padding: 16px;
        &:hover{
          color: white;
        }
      }
      &:hover{
        background-color: $mainBlue;
        cursor: pointer;
        
        .angle-right-icon{
          position: absolute;
          right: 12px;
          top: 40%;
          color:white;
        }
      }
    }
    .list__item{
      @include blackLink();
      .angle-right-icon{
        position: absolute;
        right: 16px;
        top: 40%;
        color: $borderGray;
      }
    }
  }
  .nav--head{
    background-color: $backGroundGray;
    @include bold();
    padding-top: 40px;
  }
}
