.mypage-content{
  background-color: $mainWhiteColor;
  float: right;
  &--user-status{
    width: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
    a{
      color: $mainBlackColor;
      text-decoration: none;
      padding: 50px;
      .user-status--icon{
        margin: 0;
        text-align: center;
      }
      .user-status--name{
        font-weight: bold;
        text-align: center;
      }
      .user-status{
        display: flex;
        justify-content: center;
        &--reviews{
          &__bold{
            font-weight: bold;
            margin-left: 8px;
          }
        }
        &--sell{
          margin-left: 16px;
          &__bold{
            font-weight: bold;
            margin-left: 8px;
          }
        }
      }
    }
  }
}