* {
  box-sizing: border-box;
}

.heatter{
  width: 100%;
  height: 100px;
}
.mypage{
  width: 100%;
  background-color: $backGroundGray;
  @include displayFlex();
  justify-content: center;
  padding: 40px 0;
}
.footer{
  width: 100%;
  height: 100px;
}