.login-background {
  background-color: $backGroundGray;
  width: 100%;
  height: 725px;
  position: relative;
  .contents {
    width: 460px;
    height: 550px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 40px 40px 64px;
    &__signup {
      .text {
        text-align: center;
        font-size: $fontMainSize;
      }
      .box {
        margin: 0 auto;
        width: 330px;
        div {
          text-align: center;
          line-height: 50px;
          height: 50px;
          margin-top: 15px;
          height: 100%;
          border-radius: 4px;
        }
        &__email {
          background-color: $mainBlue;
          color: white;
        }
        &--email-decoration_none {
          text-decoration: none;
        }
        &__google {
          border: black solid 2px;
          color: black;
          position: relative;
          .fa-google {
            font-size: 25px;
            position: absolute;
            left: 17px;
            top: 12px;
          }
        }
        &--google-decoration_none {
          text-decoration: none;
        }
        &__facebook {
          background-color: darkblue;
          color: white;
          position: relative;
          .fa-facebook-square {
            font-size: 25px;
            position: absolute;
            left: 17px;
            top: 12px;
          }
        }
        &--facebook-decoration_none {
          text-decoration: none;
        }
      }
    }
    &__line {
      height: 1px;
      width: 100%;
      background-color: $borderGray;
      margin-top: 30px;
    }
    &__error {
      color: red;
      text-align: center;
      padding-top: 30px;
    }
    &__content {
      margin: 0 auto;
      width: 330px;
      margin-top: 30px;
      .field {
        width: 100%;
        height: 100%;
        &__input {
          @include registerForm();
        }
      }
      .login-box {
        margin: 0 auto;
        width: 330px;
        height: 50px;
        &__btn {
          @include hoverMouseFinger();
          width: 100%;
          height: 100%;
          color: white;
          background-color: $mainBlue;
          border-radius: 4px;
          border: none;
        }
      }
    }
  }
  .forget-password {
    @include blackLink();
    @include hoverMouseFinger();
    display: inline-block;
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}