.signup-background {
  background-color: $backGroundGray;
  width: 100%;
  position: relative;
  .contents {
    width: 620px;
    height: max-content;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 40px 40px 64px;
    &__title {
      @include bold();
      @include lightGrayUnderLine();
      font-size: 22px;
      padding: 32px;
      text-align: center;
      .text {
        font-size: $fontMainSize;
        margin-top: 8px;
      }
    }
    &__content {
      width: max-content;
      height: max-content;
      padding: 10px;
      margin: 0 auto;
      margin-top: 30px;
      .title {
        @include displayFlex();
        &__name {
          font-weight: 600;
        }
        &__required {
          @include required();
          margin-left: 8px;
        }
        &__optional {
          @include optional();
          margin-left: 8px;
        }
      }
      .field {
        width: 340px;
        &__input {
          @include registerForm();
          font-size: 16px;
          margin-top: 8px;
        }
      }
      .alert {
        margin-top: 5px;
        font-size: $fontMainSize;
        color: gray;
      }
      .fields {
        @include displayFlex();
        width: 340px;
        height: 50px;
        &__last {
          width: calc(50% - 6px);
          margin-right: 15px;
          .input {
            height: 100%;
            width: 100%;
            border-radius: 4px;
            border: $borderGray solid 1px;
            margin-top: 8px;
            @include outLine();
          }
        }
        &__name {
          width: calc(50% - 6px);
          .input {
            height: 100%;
            width: 100%;
            margin-right: 15px;
            border-radius: 4px;
            border: $borderGray solid 1px;
            margin-top: 8px;
            @include outLine();
          }
        }
      }
      #date-fields {
        text-align: center;
        height: 50px;
        margin-top: 10px;
        align-items: center;
        > select {
          border-radius: 4px;
          border: $borderGray solid 1px;
          height: 100%;
          width: 90px;
          margin-right: 5px;
        }
        #profile_birthday_2i {
          margin-left: 5px;
        }
        #profile_birthday_3i {
          margin-left: 5px;
        }
      }
    }
    .submit-box {
      width: 100%;
      margin-top: 32px;
      height: 48px;
      position: relative;
      &__btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 100%;
        width: 340px;
        background-color: $mainBlue;
        color: white;
        border-radius: 1px;
        border: none;
      }
    }
  }
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/down-arrow.png);
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-position: right 10px center;
}

#user {
  height: 1000px;
}
#profile {
  height: 1000px;
}
#address {
  height: 1500px;
}

.has-error {
  width: 100%;
  height: 100%;
  color: red;
}
