.footer-content
  %ul.footer-lists
    %li.footer-list
      = link_to "プライバシーポリシー", "#", class: 'sub-btn'
    %li.footer-list
      = link_to "フリマ利用規約", "#", class: 'sub-btn'
    %li.footer-list
      = link_to "特定商取引に関する表記", "#", class: 'sub-btn'
    .image
    = image_tag src="/logo-white.png", size: "60x110", class: 'image1'
    %p.footer-list
      © FURIMA, lnc 
