.footer {
  height: 235px;
  padding: 60px 0;
  background-color: #272727;
  &__lists {
    width: 840px;
    height: 172px;
    margin: 0 auto;
    display: flex;
    .contents {
      width: 270px;
      text-align: center;
      &__title {
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
      }
      &__list .content {
        color: white;
        font-size: 12px;
        height: 32px;
        line-height: 32px;
        &--text-decoration_none {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  &__logos {
    width: 190px;
    margin: 0 auto;
    align-items: center;
    .downside {
      font-size: 14px;
      color: white;
      padding-left: 40px;
    }
  }
}