.post-btn {
  @include hoverWhiteFilter();
  background-color: $mainBlue;
  position: fixed;
  right: 32px;
  bottom: 32px;
  height: 95px;
  width: 100px;
  padding: 10px;
  border-radius: 4%;
  text-align: center;
  &__text {
    color: white;
    font-size: 18px;
    margin-top: 5px;
  }
  &__image {
    margin-top: 5px;
  }
}