@mixin button($background-color: $mainBlue, $color: #fff, $min-height: 48px, $border-radius: 4px) {
  background-color: $background-color;
  color: $color;
  min-height: $min-height;
  border-radius: $border-radius;
  width: 100%;
  border: none;
  @include bold();
  cursor: pointer;
}