@mixin registerForm($height: 48px, $padding: 10px 16px 8px, $border-radius: 4px) {
  height: $height;
  padding: $padding;
  border-radius: $border-radius;
  border: 1px solid $borderGray;
  box-sizing: border-box;
  width: 100%;
  @include outLine();
}